# WEB SCRAPING-FLIGHT PRICE

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# Scraping flight prices from yatra.com

# NEW DELHI TO MUMBAI

In [16]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [17]:
# Opening page of yatra.com for flights from new delhi to mumbai
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=21%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=31443714689"
driver.get(url)

In [11]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//p[@title='New Delhi']")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//p[@title='Mumbai']")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text.replace("\n+ 1 day",""))
        
#scraping the duration
duration=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath(" //div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go First,New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"5,954"
1,Go First,New Delhi,Mumbai,14:20,16:35,2h 15m,Non Stop,"5,954"
2,Go First,New Delhi,Mumbai,19:40,21:55,2h 15m,Non Stop,"5,954"
3,Go First,New Delhi,Mumbai,21:00,23:15,2h 15m,Non Stop,"5,954"
4,Go First,New Delhi,Mumbai,16:45,21:25,4h 40m,1 Stop,"5,954"
...,...,...,...,...,...,...,...,...
102,Vistara,New Delhi,Mumbai,17:35,20:15,26h 40m,1 Stop,"12,150"
103,Vistara,New Delhi,Mumbai,17:35,21:40,28h 05m,1 Stop,"12,150"
104,Vistara,New Delhi,Mumbai,14:15,21:40,7h 25m,1 Stop,"12,255"
105,Vistara,New Delhi,Mumbai,09:05,21:40,12h 35m,1 Stop,"12,255"
106,Vistara,New Delhi,Mumbai,19:50,22:00,2h 10m,Non Stop,"15,720"

In [12]:
df.to_csv("FlightPrice1", index=False)

# NEW DELHI TO BANGALORE

In [18]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [19]:
# Opening page of yatra.com for flights from new delhi to bangalore
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BLR&destinationCountry=IN&flight_depart_date=25%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=174373601764"
driver.get(url)

In [22]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//p[@title='New Delhi']")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//p[@title='Bangalore']")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text.replace("\n+ 1 day",""))
        
#scraping the duration
duration=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath(" //div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Air Asia,New Delhi,Bangalore,08:20,14:40,6h 20m,1 Stop,"7,423"
1,Air Asia,New Delhi,Bangalore,12:40,20:55,8h 15m,2 Stop(s),"7,423"
2,Air Asia,New Delhi,Bangalore,12:20,20:55,8h 35m,2 Stop(s),"7,423"
3,Air Asia,New Delhi,Bangalore,12:40,23:50,11h 10m,1 Stop,"7,423"
4,Air Asia,New Delhi,Bangalore,12:50,00:25,11h 35m,1 Stop,"7,423"
...,...,...,...,...,...,...,...,...
143,Vistara,New Delhi,Bangalore,07:30,17:45,10h 15m,2 Stop(s),"13,314"
144,Vistara,New Delhi,Bangalore,07:30,20:55,13h 25m,2 Stop(s),"13,314"
145,Vistara,New Delhi,Bangalore,17:40,10:45,17h 05m,2 Stop(s),"13,314"
146,Vistara,New Delhi,Bangalore,13:20,20:55,7h 35m,2 Stop(s),"13,902"
147,Vistara,New Delhi,Bangalore,13:40,17:45,28h 05m,2 Stop(s),"14,713"

In [23]:
df.to_csv("FlightPrice2", index=False)

# KOLKATA TO HYDERABAD

In [24]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [25]:
# Opening page of yatra.com for flights from kolkata to hyderabad
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=CCU&originCountry=IN&destination=HYD&destinationCountry=IN&flight_depart_date=25%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=630372204541"
driver.get(url)

In [26]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//p[@title='Kolkata']")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//p[@title='Hyderabad']")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text.replace("\n+ 1 day",""))
        
#scraping the duration
duration=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath(" //div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go First,Kolkata,Hyderabad,20:55,23:05,2h 10m,Non Stop,"6,488"
1,SpiceJet,Kolkata,Hyderabad,12:00,15:40,3h 40m,1 Stop,"6,488"
2,Go First,Kolkata,Hyderabad,06:00,14:40,8h 40m,1 Stop,"6,488"
3,Go First,Kolkata,Hyderabad,06:30,15:25,8h 55m,1 Stop,"6,488"
4,Go First,Kolkata,Hyderabad,06:00,21:50,15h 50m,1 Stop,"6,488"
...,...,...,...,...,...,...,...,...
66,Air India,Kolkata,Hyderabad,13:00,19:00,30h 00m,4 Stop(s),"16,569"
67,Vistara,Kolkata,Hyderabad,17:35,09:40,16h 05m,2 Stop(s),"18,594"
68,Vistara,Kolkata,Hyderabad,17:35,12:35,19h 00m,2 Stop(s),"18,594"
69,Vistara,Kolkata,Hyderabad,17:35,12:35,19h 00m,2 Stop(s),"18,594"
70,Vistara,Kolkata,Hyderabad,17:35,12:35,19h 00m,2 Stop(s),"18,594"

In [27]:
df.to_csv("FlightPrice3", index=False)

# NEW DELHI TO GOA

In [31]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [32]:
# Opening page of yatra.com for flights from new delhi to goa
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=GOI&destinationCountry=IN&flight_depart_date=21%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=40220393541"
driver.get(url)

In [33]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//p[@title='New Delhi']")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//p[@title='Goa']")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text.replace("\n+ 1 day",""))
        
#scraping the duration
duration=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath(" //div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go First,New Delhi,Goa,20:50,23:25,2h 35m,Non Stop,"7,424"
1,SpiceJet,New Delhi,Goa,16:20,19:00,2h 40m,Non Stop,"7,424"
2,Go First,New Delhi,Goa,09:55,12:40,2h 45m,Non Stop,"7,424"
3,SpiceJet,New Delhi,Goa,19:30,01:00,5h 30m,1 Stop,"7,424"
4,Go First,New Delhi,Goa,08:00,16:30,8h 30m,1 Stop,"7,424"
...,...,...,...,...,...,...,...,...
97,Vistara,New Delhi,Goa,17:30,12:45,19h 15m,2 Stop(s),"17,063"
98,Vistara,New Delhi,Goa,15:55,12:45,20h 50m,2 Stop(s),"17,063"
99,Vistara,New Delhi,Goa,07:30,12:45,29h 15m,2 Stop(s),"17,063"
100,Vistara,New Delhi,Goa,07:30,12:45,29h 15m,2 Stop(s),"17,063"
101,Vistara,New Delhi,Goa,19:50,12:45,16h 55m,1 Stop,"20,340"

In [34]:
df.to_csv("FlightPrice4", index=False)

# MUMBAI TO CHENNAI

In [35]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [36]:
# Opening page of yatra.com for flights from mumbai to chennai
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=MAA&destinationCountry=IN&flight_depart_date=21%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=278867276410"
driver.get(url)

In [37]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//p[@title='Mumbai']")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//p[@title='Chennai']")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text.replace("\n+ 1 day",""))
        
#scraping the duration
duration=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath(" //div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go First,Mumbai,Chennai,05:45,07:40,1h 55m,Non Stop,"5,942"
1,Go First,Mumbai,Chennai,20:15,22:20,2h 05m,Non Stop,"5,942"
2,IndiGo,Mumbai,Chennai,16:25,18:15,1h 50m,Non Stop,"5,943"
3,IndiGo,Mumbai,Chennai,21:25,23:15,1h 50m,Non Stop,"5,943"
4,IndiGo,Mumbai,Chennai,04:35,06:30,1h 55m,Non Stop,"5,943"
...,...,...,...,...,...,...,...,...
88,Vistara,Mumbai,Chennai,11:25,09:55,22h 30m,2 Stop(s),"17,712"
89,Vistara,Mumbai,Chennai,11:25,16:20,28h 55m,2 Stop(s),"17,712"
90,Vistara,Mumbai,Chennai,07:00,22:45,15h 45m,2 Stop(s),"20,322"
91,Vistara,Mumbai,Chennai,07:00,20:15,13h 15m,2 Stop(s),"21,214"
92,Vistara,Mumbai,Chennai,07:00,22:45,15h 45m,2 Stop(s),"21,214"

In [38]:
df.to_csv("FlightPrice5", index=False)

# Scraping flight prices from makemytrip.com

# DELHI TO BANGALORE

In [52]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [53]:
# Opening page of makemytrip.com for flights from new delhi to bangalore
url = "https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-22/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
driver.get(url)

In [54]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[2]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[2]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[1]/span")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='stop-info flexOne']/p")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//p[@class='blackText fontSize18 blackFont white-space-no-wrap']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹ ",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,AirAsia,New Delhi,Bengaluru,15:25,20:50,05 h 25 m,1 stop via Pune,"7,423"
1,AirAsia,New Delhi,Bengaluru,12:50,23:45,10 h 55 m,"2 stop via Guwahati,Chennai","7,423"
2,AirAsia,New Delhi,Bengaluru,07:10,23:45,16 h 35 m,"2 stop via Guwahati,Chennai","7,423"
3,Go First,New Delhi,Bengaluru,06:05,08:40,02 h 35 m,Non stop,"7,424"
4,Go First,New Delhi,Bengaluru,18:40,21:25,02 h 45 m,Non stop,"7,424"
5,Go First,New Delhi,Bengaluru,02:00,09:55,07 h 55 m,1 stop via Mumbai,"7,424"
6,Go First,New Delhi,Bengaluru,09:00,14:55,05 h 55 m,1 stop via Patna,"7,424"
7,Go First,New Delhi,Bengaluru,08:45,16:10,07 h 25 m,1 stop via Mumbai,"7,424"
8,Go First,New Delhi,Bengaluru,09:20,17:20,08 h,1 stop via Ranchi,"7,424"
9,Go First,New Delhi,Bengaluru,13:55,19:35,05 h 40 m,1 stop via Patna,"7,424"
10,Go First,New Delhi,Bengaluru,13:00,19:35,06 h 35 m,1 stop via Patna,"7,424"
11,Go First,New Delhi,Bengaluru,10:00,19:35,09 h 35 m,1 stop via Patna,"7,424"
12,Go First,New Delhi,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"7,424"
13,Go First,New Delhi,Bengaluru,12:45,22:20,09 h 35 m,1 stop via Mumbai,"7,424"
14,Go First,New Delhi,Bengaluru,16:45,23:40,06 h 55 m,1 stop via Ahmedabad,"7,424"
15,Go First,New Delhi,Bengaluru,16:35,00:05,07 h 30 m,1 stop via Pune,"7,424"
16,Go First,New Delhi,Bengaluru,16:10,00:20,08 h 10 m,1 stop via Lucknow,"7,424"
17,Spicejet,New Delhi,Bengaluru,05:35,08:05,02 h 30 m,Non stop,"7,425"
18,IndiGo,New Delhi,Bengaluru,06:10,08:50,02 h 40 m,Non stop,"7,425"
19,Air India,New Delhi,Bengaluru,06:10,08:55,02 h 45 m,Non stop,"7,425"
20,Vistara,New Delhi,Bengaluru,09:05,11:50,02 h 45 m,Non stop,"7,425"
21,IndiGo,New Delhi,Bengaluru,09:15,12:10,02 h 55 m,Non stop,"7,425"
22,Air India,New Delhi,Bengaluru,09:45,12:30,02 h 45 m,Non stop,"7,425"
23,Air India,New Delhi,Bengaluru,13:30,16:15,02 h 45 m,Non stop,"7,425"
24,Vistara,New Delhi,Bengaluru,14:15,17:00,02 h 45 m,Non stop,"7,425"
25,IndiGo,New Delhi,Bengaluru,15:30,18:30,03 h,Non stop,"7,425"
26,Vistara,New Delhi,Bengaluru,16:05,18:50,02 h 45 m,Non stop,"7,425"
27,Air India,New Delhi,Bengaluru,17:20,20:05,02 h 45 m,Non stop,"7,425"
28,Vistara,New Delhi,Bengaluru,17:35,20:25,02 h 50 m,Non stop,"7,425"
29,IndiGo,New Delhi,Bengaluru,18:20,21:15,02 h 55 m,Non stop,"7,425"
30,Vistara,New Delhi,Bengaluru,20:40,23:20,02 h 40 m,Non stop,"7,425"
31,Air India,New Delhi,Bengaluru,21:15,23:55,02 h 40 m,Non stop,"7,425"
32,AirAsia,New Delhi,Bengaluru,08:00,10:40,02 h 40 m,Non stop,"7,426"
33,IndiGo,New Delhi,Bengaluru,12:55,18:30,05 h 35 m,1 stop via Hyderabad,"9,735"
34,Air India,New Delhi,Bengaluru,09:45,14:20,04 h 35 m,1 stop via Hyderabad,"9,840"
35,Air India,New Delhi,Bengaluru,08:10,14:20,06 h 10 m,1 stop via Hyderabad,"9,840"
36,"IndiGo, AirAsia",New Delhi,Bengaluru,09:40,15:30,05 h 50 m,1 stop via Hyderabad,"10,409"
37,IndiGo,New Delhi,Bengaluru,13:50,19:00,05 h 10 m,1 stop via Vadodara,"10,523"
38,Go First,New Delhi,Bengaluru,09:55,14:20,04 h 25 m,1 stop via Goa,"10,672"
39,Vistara,New Delhi,Bengaluru,05:45,10:45,05 h,1 stop via Mumbai,"10,680"
40,Vistara,New Delhi,Bengaluru,12:50,17:45,04 h 55 m,1 stop via Mumbai,"10,680"
41,Vistara,New Delhi,Bengaluru,15:30,20:55,05 h 25 m,1 stop via Mumbai,"10,680"
42,Vistara,New Delhi,Bengaluru,14:20,20:55,06 h 35 m,1 stop via Mumbai,"10,680"
43,"IndiGo, AirAsia",New Delhi,Bengaluru,17:30,23:45,06 h 15 m,1 stop via Chennai,"10,788"
44,"Vistara, AirAsia",New Delhi,Bengaluru,17:25,23:45,06 h 20 m,1 stop via Chennai,"10,788"

In [55]:
df.to_csv("FlightPrice6", index=False)

# NEW DELHI TO MUMBAI

In [63]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [64]:
# Opening page of makemytrip.com for flights from new delhi to mumbai
url = "https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
driver.get(url)

In [65]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[2]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[2]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[1]/span")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='stop-info flexOne']/p")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//p[@class='blackText fontSize18 blackFont white-space-no-wrap']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹ ",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go First,New Delhi,Mumbai,02:00,04:15,02 h 15 m,Non stop,"5,954"
1,Go First,New Delhi,Mumbai,08:00,10:10,02 h 10 m,Non stop,"5,954"
2,Go First,New Delhi,Mumbai,10:30,12:50,02 h 20 m,Non stop,"5,954"
3,Go First,New Delhi,Mumbai,12:45,15:00,02 h 15 m,Non stop,"5,954"
4,Go First,New Delhi,Mumbai,14:20,16:35,02 h 15 m,Non stop,"5,954"
...,...,...,...,...,...,...,...,...
65,IndiGo,New Delhi,Mumbai,05:15,10:05,04 h 50 m,1 stop via Ahmedabad,"8,895"
66,IndiGo,New Delhi,Mumbai,14:05,17:55,03 h 50 m,1 stop via Indore,"8,895"
67,IndiGo,New Delhi,Mumbai,18:30,23:25,04 h 55 m,1 stop via Ahmedabad,"8,895"
68,Spicejet,New Delhi,Mumbai,05:15,10:35,05 h 20 m,1 stop via Jaipur,"9,079"
69,Vistara,New Delhi,Mumbai,17:10,21:35,04 h 25 m,1 stop via Chandigarh,"9,420"

In [66]:
df.to_csv("FlightPrice7", index=False)

# BANGALORE TO AHMEDABAD

In [59]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [60]:
# Opening page of makemytrip.com for flights from BANGALORE to AHMEDABAD
url = "https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
driver.get(url)

In [61]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[2]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[2]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[1]/span")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='stop-info flexOne']/p")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//p[@class='blackText fontSize18 blackFont white-space-no-wrap']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹ ",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go First,Bengaluru,Ahmedabad,07:20,18:20,11 h,1 stop via New Delhi,"6,017"
1,Go First,Bengaluru,Ahmedabad,10:50,19:25,08 h 35 m,1 stop via Mumbai,"6,017"
2,Go First,Bengaluru,Ahmedabad,06:30,19:25,12 h 55 m,1 stop via Mumbai,"6,017"
3,Go First,Bengaluru,Ahmedabad,05:30,19:30,14 h,1 stop via Kolkata,"6,017"
4,Go First,Bengaluru,Ahmedabad,15:45,22:40,06 h 55 m,1 stop via Goa,"6,017"
5,Go First,Bengaluru,Ahmedabad,16:45,00:05,07 h 20 m,1 stop via Mumbai,"6,017"
6,Go First,Bengaluru,Ahmedabad,22:00,02:25,04 h 25 m,1 stop via Pune,"6,017"
7,Go First,Bengaluru,Ahmedabad,17:20,02:25,09 h 05 m,1 stop via Pune,"6,017"
8,Go First,Bengaluru,Ahmedabad,22:00,07:30,09 h 30 m,1 stop via New Delhi,"6,017"
9,IndiGo,Bengaluru,Ahmedabad,02:45,05:00,02 h 15 m,Non stop,"6,018"
10,Go First,Bengaluru,Ahmedabad,05:40,07:50,02 h 10 m,Non stop,"6,018"
11,Go First,Bengaluru,Ahmedabad,18:50,20:55,02 h 05 m,Non stop,"6,018"
12,IndiGo,Bengaluru,Ahmedabad,13:05,18:05,05 h,1 stop via Hyderabad,"6,018"
13,IndiGo,Bengaluru,Ahmedabad,09:20,18:05,08 h 45 m,1 stop via Hyderabad,"6,018"
14,IndiGo,Bengaluru,Ahmedabad,12:40,18:30,05 h 50 m,1 stop via Mumbai,"6,018"
15,IndiGo,Bengaluru,Ahmedabad,08:05,18:30,10 h 25 m,1 stop via Mumbai,"6,018"
16,IndiGo,Bengaluru,Ahmedabad,06:55,18:30,11 h 35 m,1 stop via Bhopal,"6,018"
17,IndiGo,Bengaluru,Ahmedabad,06:20,18:40,12 h 20 m,1 stop via Lucknow,"6,018"
18,IndiGo,Bengaluru,Ahmedabad,16:20,22:15,05 h 55 m,1 stop via Hyderabad,"6,018"
19,IndiGo,Bengaluru,Ahmedabad,17:15,23:50,06 h 35 m,1 stop via Pune,"6,018"
20,IndiGo,Bengaluru,Ahmedabad,18:35,20:45,02 h 10 m,Non stop,"6,123"
21,IndiGo,Bengaluru,Ahmedabad,16:45,19:05,02 h 20 m,Non stop,"6,281"

In [62]:
df.to_csv("FlightPrice8", index=False)

# NEW DELHI TO PUNE

In [67]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [68]:
# Opening page of makemytrip.com for flights from new delhi to pune
url = "https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
driver.get(url)

In [69]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[2]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[2]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[1]/span")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='stop-info flexOne']/p")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//p[@class='blackText fontSize18 blackFont white-space-no-wrap']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹ ",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Spicejet,New Delhi,Pune,09:30,11:50,02 h 20 m,Non stop,"5,954"
1,Go First,New Delhi,Pune,09:40,11:45,02 h 05 m,Non stop,"5,954"
2,Go First,New Delhi,Pune,16:35,18:40,02 h 05 m,Non stop,"5,954"
3,Spicejet,New Delhi,Pune,17:45,20:05,02 h 20 m,Non stop,"5,954"
4,Go First,New Delhi,Pune,19:55,22:00,02 h 05 m,Non stop,"5,954"
5,Go First,New Delhi,Pune,06:05,13:20,07 h 15 m,1 stop via Bengaluru,"5,954"
6,Spicejet,New Delhi,Pune,07:45,14:10,06 h 25 m,1 stop via Jabalpur,"5,954"
7,Go First,New Delhi,Pune,10:45,18:50,08 h 05 m,"2 stop via Goa,Bengaluru","5,954"
8,Go First,New Delhi,Pune,19:55,00:35,04 h 40 m,1 stop via Ahmedabad,"5,954"
9,Go First,New Delhi,Pune,16:45,00:35,07 h 50 m,1 stop via Ahmedabad,"5,954"
10,Go First,New Delhi,Pune,17:40,00:45,07 h 05 m,1 stop via Kolkata,"5,954"
11,Spicejet,New Delhi,Pune,20:35,06:40,10 h 05 m,1 stop via Ahmedabad,"5,954"
12,Spicejet,New Delhi,Pune,05:45,06:40,24 h 55 m,1 stop via Ahmedabad,"5,954"
13,Go First,New Delhi,Pune,18:40,06:50,12 h 10 m,1 stop via Bengaluru,"5,954"
14,IndiGo,New Delhi,Pune,04:50,06:55,02 h 05 m,Non stop,"5,955"
15,Air India,New Delhi,Pune,04:55,07:00,02 h 05 m,Non stop,"5,955"
16,IndiGo,New Delhi,Pune,09:25,11:30,02 h 05 m,Non stop,"5,955"
17,IndiGo,New Delhi,Pune,13:25,15:40,02 h 15 m,Non stop,"5,955"
18,Vistara,New Delhi,Pune,14:15,16:20,02 h 05 m,Non stop,"5,955"
19,Air India,New Delhi,Pune,16:00,18:10,02 h 10 m,Non stop,"5,955"
20,Vistara,New Delhi,Pune,17:25,19:35,02 h 10 m,Non stop,"5,955"
21,IndiGo,New Delhi,Pune,17:25,20:00,02 h 35 m,Non stop,"5,955"
22,Air India,New Delhi,Pune,19:10,21:10,02 h,Non stop,"5,955"
23,Vistara,New Delhi,Pune,20:40,22:55,02 h 15 m,Non stop,"5,955"
24,IndiGo,New Delhi,Pune,21:20,23:25,02 h 05 m,Non stop,"5,955"
25,Air India,New Delhi,Pune,08:40,12:05,03 h 25 m,1 stop via Bhopal,"5,955"
26,IndiGo,New Delhi,Pune,09:40,14:55,05 h 15 m,1 stop via Hyderabad,"5,955"
27,IndiGo,New Delhi,Pune,06:45,14:55,08 h 10 m,1 stop via Hyderabad,"5,955"
28,IndiGo,New Delhi,Pune,09:15,15:25,06 h 10 m,1 stop via Raipur,"5,955"
29,IndiGo,New Delhi,Pune,08:55,17:25,08 h 30 m,1 stop via Chandigarh,"5,955"
30,IndiGo,New Delhi,Pune,17:45,23:05,05 h 20 m,1 stop via Hyderabad,"5,955"
31,IndiGo,New Delhi,Pune,12:55,23:05,10 h 10 m,1 stop via Hyderabad,"5,955"
32,IndiGo,New Delhi,Pune,18:00,01:15,07 h 15 m,1 stop via Indore,"5,955"
33,AirAsia,New Delhi,Pune,15:25,17:25,02 h,Non stop,"5,956"
34,Air India,New Delhi,Pune,20:10,11:30,15 h 20 m,"2 stop via Ahmedabad,Nasik","8,580"
35,AirAsia,New Delhi,Pune,08:00,14:25,06 h 25 m,1 stop via Bengaluru,"8,583"
36,Air India,New Delhi,Pune,05:55,12:05,06 h 10 m,1 stop via Bhopal,"9,148"

In [70]:
df.to_csv("FlightPrice9", index=False)

# BANGALORE TO PUNE

In [71]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [72]:
# Opening page of makemytrip.com for flights from bangalore to pune
url = "https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
driver.get(url)

In [73]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[2]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[2]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div [@class='timingOptionOuter']/label/div/div/div[1]/div[1]/p[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div[1]/p[1]/span")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='stop-info flexOne']/p")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//p[@class='blackText fontSize18 blackFont white-space-no-wrap']")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹ ",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go First,Bengaluru,Pune,05:40,06:50,01 h 10 m,Non stop,"5,177"
1,Spicejet,Bengaluru,Pune,10:20,11:55,01 h 35 m,Non stop,"5,177"
2,Go First,Bengaluru,Pune,11:50,13:20,01 h 30 m,Non stop,"5,177"
3,Go First,Bengaluru,Pune,13:00,14:30,01 h 30 m,Non stop,"5,177"
4,Go First,Bengaluru,Pune,17:20,18:50,01 h 30 m,Non stop,"5,177"
5,Go First,Bengaluru,Pune,22:00,23:25,01 h 25 m,Non stop,"5,177"
6,Spicejet,Bengaluru,Pune,05:45,14:55,09 h 10 m,1 stop via Goa,"5,177"
7,Go First,Bengaluru,Pune,07:20,18:40,11 h 20 m,1 stop via New Delhi,"5,177"
8,Go First,Bengaluru,Pune,18:50,00:35,05 h 45 m,1 stop via Ahmedabad,"5,177"
9,Go First,Bengaluru,Pune,22:00,11:45,13 h 45 m,1 stop via New Delhi,"5,177"
10,IndiGo,Bengaluru,Pune,02:40,04:15,01 h 35 m,Non stop,"5,178"
11,IndiGo,Bengaluru,Pune,05:15,06:45,01 h 30 m,Non stop,"5,178"
12,IndiGo,Bengaluru,Pune,11:20,13:00,01 h 40 m,Non stop,"5,178"
13,IndiGo,Bengaluru,Pune,17:15,18:45,01 h 30 m,Non stop,"5,178"
14,IndiGo,Bengaluru,Pune,23:00,00:30,01 h 30 m,Non stop,"5,178"
15,IndiGo,Bengaluru,Pune,09:20,14:55,05 h 35 m,1 stop via Hyderabad,"5,178"
16,IndiGo,Bengaluru,Pune,06:10,14:55,08 h 45 m,1 stop via Hyderabad,"5,178"
17,IndiGo,Bengaluru,Pune,09:20,17:15,07 h 55 m,1 stop via Chennai,"5,178"
18,IndiGo,Bengaluru,Pune,19:20,23:05,03 h 45 m,1 stop via Hyderabad,"5,178"
19,IndiGo,Bengaluru,Pune,16:20,23:05,06 h 45 m,1 stop via Hyderabad,"5,178"
20,IndiGo,Bengaluru,Pune,13:05,23:05,10 h,1 stop via Hyderabad,"5,178"
21,IndiGo,Bengaluru,Pune,19:40,02:10,06 h 30 m,1 stop via Kochi,"5,178"
22,AirAsia,Bengaluru,Pune,12:50,14:25,01 h 35 m,Non stop,"5,179"
23,Vistara,Bengaluru,Pune,09:45,16:20,06 h 35 m,1 stop via New Delhi,"11,205"
24,Air India,Bengaluru,Pune,10:25,18:10,07 h 45 m,1 stop via New Delhi,"13,054"

In [74]:
df.to_csv("FlightPrice10", index=False)

# Scraping flight prices from tripodeal.com

# BANGALORE TO GOA

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [3]:
# Opening page of tripodeal.com for flights from bangalore to goa
url = "https://www.tripodeal.com/results?tid=61ea1aff30f0d80b424280b9"
driver.get(url)

In [5]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Spice Jet,Bangalore,Goa,05:45,07:10,01h 25m,Non Stop,4388
1,Go Air,Bangalore,Goa,17:00,18:25,01h 25m,Non Stop,4552
2,Air India,Bangalore,Goa,19:00,20:30,01h 30m,Non Stop,4603
3,Go Air,Bangalore,Goa,05:40,09:55,04h 1m,1 Stop,4610
4,Go Air,Bangalore,Goa,10:50,16:30,05h 4m,1 Stop,4610
...,...,...,...,...,...,...,...,...
79,Vistara,Bangalore,Goa,19:55,13:05,17h 10m,2 Stop,17830
80,Vistara,Bangalore,Goa,19:55,13:05,17h 1m,2 Stop,18079
81,Vistara,Bangalore,Goa,18:25,13:05,18h 4m,2 Stop,18079
82,Vistara,Bangalore,Goa,11:30,13:05,25h 35m,2 Stop,18365
83,Vistara,Bangalore,Goa,12:20,13:05,24h 45m,2 Stop,21216

In [6]:
df.to_csv("FlightPrice11", index=False)

# KOLKATA TO PUNE

In [7]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [8]:
# Opening page of tripodeal.com for flights from kolkata to pune
url = "https://www.tripodeal.com/results?tid=61ea1d0159474c70496d099b"
driver.get(url)

In [9]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go Air,Kolkata,Pune,22:20,00:45,02h 25m,Non Stop,8104
1,Go Air,Kolkata,Pune,08:30,14:30,06h 0m,1 Stop,8209
2,Go Air,Kolkata,Pune,14:20,22:00,07h 4m,1 Stop,8209
3,Go Air,Kolkata,Pune,16:25,00:35,08h 1m,1 Stop,8209
4,Go Air,Kolkata,Pune,08:30,18:50,10h 2m,1 Stop,8209
...,...,...,...,...,...,...,...,...
78,Air India,Kolkata,Pune,18:15,07:00,14h 00m,2 Stop,19238
79,Air India,Kolkata,Pune,18:15,12:05,17h 5m,2 Stop,19263
80,Vistara,Kolkata,Pune,17:35,16:20,22h 4m,2 Stop,19389
81,Air India,Kolkata,Pune,10:25,18:10,07h 4m,1 Stop,21973
82,Air India,Kolkata,Pune,10:25,21:10,10h 4m,1 Stop,21973

In [10]:
df.to_csv("FlightPrice12", index=False)

# MUMBAI TO COCHIN(KOCHI)

In [13]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [14]:
# Opening page of tripodeal.com for flights from mumbai to cochin(kochi)
url = "https://www.tripodeal.com/results?tid=61ea1eefe0c2a86d2a3f5c1a"
driver.get(url)

In [16]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go Air,Mumbai,Cochin (Kochi),07:40,09:40,02h 00m,Non Stop,6122
1,Go Air,Mumbai,Cochin (Kochi),17:15,19:25,02h 10m,Non Stop,6122
2,Air India,Mumbai,Cochin (Kochi),17:10,19:15,02h 05m,Non Stop,6196
3,Indigo Air,Mumbai,Cochin (Kochi),11:15,13:10,01h 5m,Non Stop,6230
4,Indigo Air,Mumbai,Cochin (Kochi),19:10,21:05,01h 5m,Non Stop,6230
...,...,...,...,...,...,...,...,...
90,Vistara,Mumbai,Cochin (Kochi),09:45,08:45,23h 0m,2 Stop,19671
91,Vistara,Mumbai,Cochin (Kochi),14:05,08:45,18h 4m,2 Stop,19892
92,Vistara,Mumbai,Cochin (Kochi),14:05,08:45,18h 4m,2 Stop,19892
93,Vistara,Mumbai,Cochin (Kochi),07:00,08:45,25h 4m,2 Stop,19892
94,Air India,Mumbai,Cochin (Kochi),09:30,20:05,10h 3m,2 Stop,21011

In [17]:
df.to_csv("FlightPrice13", index=False)

# MUMBAI TO NEW DELHI

In [18]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [19]:
# Opening page of tripodeal.com for flights from mumbai to new delhi
url = "https://www.tripodeal.com/results?tid=61ea2156f7771b23c74b9748"
driver.get(url)

In [20]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Spice Jet,Mumbai,New Delhi,07:20,09:35,02h 15m,Non Stop,5886
1,Spice Jet,Mumbai,New Delhi,11:55,14:10,02h 15m,Non Stop,5886
2,Spice Jet,Mumbai,New Delhi,19:25,21:50,02h 25m,Non Stop,5886
3,Go Air,Mumbai,New Delhi,06:00,08:10,02h 10m,Non Stop,6122
4,Go Air,Mumbai,New Delhi,08:20,10:30,02h 10m,Non Stop,6122
...,...,...,...,...,...,...,...,...
166,Air India,Mumbai,New Delhi,17:10,21:30,04h 20m,1 Stop,14843
167,Air India,Mumbai,New Delhi,06:10,23:00,16h 5m,1 Stop,14859
168,Air India,Mumbai,New Delhi,10:25,19:50,09h 2m,1 Stop,15589
169,Air India,Mumbai,New Delhi,17:20,00:30,07h 1m,1 Stop,16423
170,Air India,Mumbai,New Delhi,06:10,12:55,06h 4m,1 Stop,23720

In [21]:
df.to_csv("FlightPrice14", index=False)

# HYDERABAD TO MUMBAI

In [22]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [23]:
# Opening page of tripodeal.com for flights from hyderabad to mumbai
url = "https://www.tripodeal.com/results?tid=61ea22df0e9e9b361b58684b"
driver.get(url)

In [25]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Vistara,Hyderabad,Mumbai,21:35,23:00,01h 25m,Non Stop,4665
1,Vistara,Hyderabad,Mumbai,12:55,14:30,01h 35m,Non Stop,4665
2,Air India,Hyderabad,Mumbai,22:15,23:55,01h 40m,Non Stop,4717
3,Go Air,Hyderabad,Mumbai,20:05,01:20,05h 1m,1 Stop,4725
4,Go Air,Hyderabad,Mumbai,06:50,12:30,05h 4m,1 Stop,4725
...,...,...,...,...,...,...,...,...
130,Vistara,Hyderabad,Mumbai,06:10,22:35,16h 2m,2 Stop,17184
131,Vistara,Hyderabad,Mumbai,20:35,14:30,17h 5m,2 Stop,17184
132,Vistara,Hyderabad,Mumbai,13:25,09:00,19h 3m,2 Stop,17184
133,Go Air,Hyderabad,Mumbai,16:00,21:55,05h 55m,1 Stop,17345
134,Vistara,Hyderabad,Mumbai,10:20,22:35,12h 15m,2 Stop,18275

In [26]:
df.to_csv("FlightPrice15", index=False)

# COCHIN(KOCHI) TO BANGALORE

In [27]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [28]:
# Opening page of tripodeal.com for flights from cochin(kochi) to bangalore
url = "https://www.tripodeal.com/results?tid=61ea24d623eed84e5c6fa830"
driver.get(url)

In [29]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Air India,Cochin (Kochi),Bangalore,15:55,18:20,02h 25m,Non Stop,3269
1,Air Asia,Cochin (Kochi),Bangalore,07:35,08:35,01h 00m,Non Stop,3647
2,Air Asia,Cochin (Kochi),Bangalore,21:25,22:25,01h 00m,Non Stop,3647
3,Indigo Air,Cochin (Kochi),Bangalore,05:10,06:15,01h 0m,Non Stop,3657
4,Indigo Air,Cochin (Kochi),Bangalore,11:25,12:30,01h 0m,Non Stop,3657
...,...,...,...,...,...,...,...,...
56,Vistara,Cochin (Kochi),Bangalore,09:45,20:55,11h 1m,2 Stop,21054
57,Vistara,Cochin (Kochi),Bangalore,09:45,18:15,32h 30m,2 Stop,22250
58,Vistara,Cochin (Kochi),Bangalore,19:55,19:10,23h 15m,2 Stop,22510
59,Vistara,Cochin (Kochi),Bangalore,09:45,19:10,33h 25m,2 Stop,26352
60,Vistara,Cochin (Kochi),Bangalore,09:45,19:10,33h 2m,2 Stop,26410

In [30]:
df.to_csv("FlightPrice16", index=False)

# Scraping flight prices from vimaansafar.com

# AHMEDABAD TO MUMBAI

In [31]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [32]:
# Opening page of vimaansafar.com for flights from ahmedabad to mumbai
url = "https://www.vimaansafar.com/results?tid=61ea285374934e639069bba7"
driver.get(url)

In [33]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,True Jet,Ahmedabad,Mumbai,08:00,11:05,3hh 5mm,1 Stop,3299
1,Go Air,Ahmedabad,Mumbai,07:10,08:25,01h 15m,Non Stop,4437
2,Go Air,Ahmedabad,Mumbai,20:15,21:30,01h 15m,Non Stop,4437
3,Go Air,Ahmedabad,Mumbai,20:05,21:25,01h 20m,Non Stop,4437
4,Go Air,Ahmedabad,Mumbai,00:35,02:00,01h 25m,Non Stop,4437
...,...,...,...,...,...,...,...,...
112,Vistara,Ahmedabad,Mumbai,06:45,20:15,13h 3m,2 Stop,15399
113,Air India,Ahmedabad,Mumbai,22:20,20:05,13h 15m,2 Stop,16109
114,Air India,Ahmedabad,Mumbai,22:20,23:05,06h 15m,2 Stop,16964
115,Air India,Ahmedabad,Mumbai,22:20,23:05,24h 45m,2 Stop,17036
116,Air India,Ahmedabad,Mumbai,22:20,17:25,12h 35m,2 Stop,28790

In [34]:
df.to_csv("FlightPrice17", index=False)

# AHMEDABAD TO NEW DELHI

In [35]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [36]:
# Opening page of vimaansafar.com for flights from ahmedabad to new delhi
url = "https://www.vimaansafar.com/results?tid=61ea2c7f893d2c045c3945df"
driver.get(url)

In [37]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Spice Jet,Ahmedabad,New Delhi,21:05,22:30,01h 25m,Non Stop,5057
1,Spice Jet,Ahmedabad,New Delhi,06:05,07:45,01h 40m,Non Stop,5057
2,Go Air,Ahmedabad,New Delhi,22:05,23:30,01h 25m,Non Stop,5257
3,Go Air,Ahmedabad,New Delhi,08:10,09:50,01h 40m,Non Stop,5257
4,Go Air,Ahmedabad,New Delhi,20:35,22:15,01h 40m,Non Stop,5257
...,...,...,...,...,...,...,...,...
73,Air India,Ahmedabad,New Delhi,19:20,23:00,16h 50m,2 Stop,15733
74,Air India,Ahmedabad,New Delhi,19:20,00:10,28h 5m,2 Stop,15930
75,Air India,Ahmedabad,New Delhi,19:20,07:55,36h 3m,2 Stop,15930
76,Go Air,Ahmedabad,New Delhi,05:45,16:55,11h 10m,1 Stop,18782
77,Air India,Ahmedabad,New Delhi,19:20,12:55,06h 45m,2 Stop,24600

In [38]:
df.to_csv("FlightPrice18", index=False)

# CHENNAI TO BANGALORE

In [39]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [40]:
# Opening page of vimaansafar.com for flights from chennai to bangalore
url = "https://www.vimaansafar.com/results?tid=61ea2e9ddbe51c72794c9536"
driver.get(url)

In [41]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Spice Jet,Chennai,Bangalore,08:20,09:40,01h 20m,Non Stop,3296
1,Air Asia,Chennai,Bangalore,22:35,23:45,01h 10m,Non Stop,3645
2,Indigo Air,Chennai,Bangalore,09:00,10:05,01h 0m,Non Stop,3655
3,Indigo Air,Chennai,Bangalore,13:05,14:10,01h 0m,Non Stop,3655
4,Indigo Air,Chennai,Bangalore,16:30,17:35,01h 0m,Non Stop,3655
...,...,...,...,...,...,...,...,...
89,Vistara,Chennai,Bangalore,17:10,19:10,26h 0m,2 Stop,21326
90,Vistara,Chennai,Bangalore,10:45,19:10,32h 2m,2 Stop,21326
91,Vistara,Chennai,Bangalore,06:55,19:10,36h 1m,2 Stop,21326
92,Vistara,Chennai,Bangalore,06:55,19:10,36h 1m,2 Stop,21326
93,Air India,Chennai,Bangalore,17:00,23:55,06h 5m,1 Stop,27413

In [42]:
df.to_csv("FlightPrice19", index=False)

# NEW DELHI TO CHANDIGARH

In [44]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [45]:
# Opening page of vimaansafar.com for flights from new delhi to chandigarh
url = "https://www.vimaansafar.com/results?tid=61ea306ef6ed1b780e0a7f19"
driver.get(url)

In [46]:
# creating empty lists for scraping data
airline_name=[]
source=[]
destination=[]
departure_time=[]
arrival_time=[]
travel_duration=[]
total_stops=[]
price=[]


#scraping the airlines name
name=driver.find_elements_by_xpath("//span[@class='text-muted d-none d-lg-inline ']")
for i in name:
    if i.text is None :
        airline_name.append("--") 
    else:
        airline_name.append(i.text)
        
#scraping the source
source_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[3]")
for i in source_name:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)
        
#scraping the destination
dest_name=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span[3]")
for i in dest_name:
    if i.text is None :
        destination.append("--") 
    else:
        destination.append(i.text)
        
#scraping the departure time
time=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[2]/div/div/span[2]/span[1]")
for i in time:
    if i.text is None :
        departure_time.append("--") 
    else:
        departure_time.append(i.text)
        
#scraping the arrival time
arrtime=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[4]/div/div/span/span[1]")
for i in arrtime:
    if i.text is None :
        arrival_time.append("--") 
    else:
        arrival_time.append(i.text)
        
#scraping the duration
duration=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[1]")
for i in duration:
    if i.text is None :
        travel_duration.append("--") 
    else:
        travel_duration.append(i.text)
        
#scraping total stops
stops=driver.find_elements_by_xpath("//div[@class='row keel-mom no-gutters']/div[3]/div/div/div[3]")
for i in stops:
    if i.text is None :
        total_stops.append("--") 
    else:
        total_stops.append(i.text)
        
#scraping the price
prc=driver.find_elements_by_xpath("//h5[@class='mb-2 font-weight-bold']/span[1]")
for i in prc:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text.replace("₹",""))

# creating the dataframe from the scraped data
df=pd.DataFrame({"Airline Name":airline_name,"Source":source,"Destination":destination,"Departure Time":departure_time,"Arrival Time":arrival_time,"Duration":travel_duration,"Total Stops":total_stops,"Price":price})
df

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Vistara,New Delhi,Chandigarh,13:40,14:45,01h 05m,Non Stop,3650
1,Vistara,New Delhi,Chandigarh,17:10,18:15,01h 05m,Non Stop,3650
2,Go Air,New Delhi,Chandigarh,21:45,22:20,35m,Non Stop,3670
3,Air India,New Delhi,Chandigarh,18:00,18:55,55m,Non Stop,3705
4,Air India,New Delhi,Chandigarh,07:40,08:40,01h 00m,Non Stop,3705
...,...,...,...,...,...,...,...,...
69,Vistara,New Delhi,Chandigarh,07:30,18:30,35h 00m,2 Stop,16756
70,Vistara,New Delhi,Chandigarh,06:30,18:30,36h 00m,2 Stop,16756
71,Vistara,New Delhi,Chandigarh,07:30,08:20,24h 50m,2 Stop,17471
72,Vistara,New Delhi,Chandigarh,07:30,08:20,24h 50m,2 Stop,17471
73,Vistara,New Delhi,Chandigarh,05:45,14:35,08h 50m,2 Stop,19448

In [47]:
df.to_csv("FlightPrice20", index=False)

In [53]:
#loading all the files

df1 = pd.read_csv("FlightPrice1")
df2 = pd.read_csv("FlightPrice2")
df3 = pd.read_csv("FlightPrice3")
df4 = pd.read_csv("FlightPrice4")
df5 = pd.read_csv("FlightPrice5")
df6 = pd.read_csv("FlightPrice6")
df7 = pd.read_csv("FlightPrice7")
df8 = pd.read_csv("FlightPrice8")
df9 = pd.read_csv("FlightPrice9")
df10 = pd.read_csv("FlightPrice10")
df11 = pd.read_csv("FlightPrice11")
df12 = pd.read_csv("FlightPrice12")
df13 = pd.read_csv("FlightPrice13")
df14 = pd.read_csv("FlightPrice14")
df15 = pd.read_csv("FlightPrice15")
df16 = pd.read_csv("FlightPrice16")
df17 = pd.read_csv("FlightPrice17")
df18 = pd.read_csv("FlightPrice18")
df19 = pd.read_csv("FlightPrice19")
df20 = pd.read_csv("FlightPrice20")

In [56]:
#concatinating all the files
Price_Prediction = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20], ignore_index= True)
Price_Prediction

,Airline Name,Source,Destination,Departure Time,Arrival Time,Duration,Total Stops,Price
0,Go First,New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"5,954"
1,Go First,New Delhi,Mumbai,14:20,16:35,2h 15m,Non Stop,"5,954"
2,Go First,New Delhi,Mumbai,19:40,21:55,2h 15m,Non Stop,"5,954"
3,Go First,New Delhi,Mumbai,21:00,23:15,2h 15m,Non Stop,"5,954"
4,Go First,New Delhi,Mumbai,16:45,21:25,4h 40m,1 Stop,"5,954"
...,...,...,...,...,...,...,...,...
1707,Vistara,New Delhi,Chandigarh,07:30,18:30,35h 00m,2 Stop,16756
1708,Vistara,New Delhi,Chandigarh,06:30,18:30,36h 00m,2 Stop,16756
1709,Vistara,New Delhi,Chandigarh,07:30,08:20,24h 50m,2 Stop,17471
1710,Vistara,New Delhi,Chandigarh,07:30,08:20,24h 50m,2 Stop,17471
1711,Vistara,New Delhi,Chandigarh,05:45,14:35,08h 50m,2 Stop,19448

In [57]:
Price_Prediction.to_csv("Flight_Price_Prediction_Scrapped_Data_File.csv")

In [58]:
Price_Prediction.to_excel("FlightPrice_Prediction.xlsx")